.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;        /* Bold but clean */
  letter-spacing: 0.5px;  /* Professional spacing */
  color: #1f2937;         /* Dark gray */
}
.Lbtn{
      font-family: 'Montserrat', sans-serif;
  font-weight: 600;        /* Bold but clean */
  letter-spacing: 0.5px;  /* Professional spacing */
          /* Dark gray */

}
.Sbtn{
      font-family: 'Montserrat', sans-serif;
  font-weight: 500;        /* Bold but clean */
  letter-spacing: 0.5px;  /* Professional spacing */
  color: #1f2937;         /* Dark gray */

}